body{
    margin: 0;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: white;
}

.rolagem{
    display: flex;
    flex-direction: row;
    margin-right: 3vh;
}

nav ul{
    background-color: white;
    display: flex;
    justify-content: space-around;
    font-family:  'Unica One', cursive;
    align-items: center;
    width: 100%;
    margin: 0;
}

nav li {
    list-style: none; 
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: rgb(247, 229, 70);
    font-weight: 800;
    font-style: bolder;
}

.logo {
    width: 70px;
    height: 70px;
}

.bolsa-compra{
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.usuario{
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#line{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
/* /--------------------- -----------------------CAROUSEL----------------------------------------------/ */

.carousel {
    margin: 0%;
}

ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}


ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 100px;
    line-height: 600px;
    color: black;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 87px;
    z-index: 1;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:  rgb(124, 114, 114);
    opacity: 0.5;
    margin: 5px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}

.section_shop {
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
}

.shop img {
    width: 400px;
}

/* ---------------------footer---------------- */

footer{

    background-color: rgb(255, 255, 152);
    height: 200px;
    display: flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: space-around;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 5.5pt;
}

.pagamento{
 flex-direction: column;
}

#logo-footer{

    align-items: center;
}

#logo-footer img{  
    width: 100px;  
}

footer div {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: center;
}

footer div img{
    width: 20px;
    padding: 0px 5px;
}

.logo-redes{
    justify-content: flex-end;
    flex-direction: column;
    display: inline-block;
}

.logo-redes a{
    list-style: none;
    text-decoration: none;
}
